@font-face {
    font-family: "Sportscenter";
    src: url("../fonts/Sportscenter.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaCyrillicBook.ttf");
    font-weight: 400;
    font-style: normal;
}

body > address {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    gap: 10px;
    z-index: 4;
    right: 1em;
    bottom: 1em;
}

body > address a {
    width: 70px;
}

body > address a img {
    width: 100%;
    filter: contrast(0) brightness(2) drop-shadow(0px 0px 5px #000000b0);
}

body > address a:first-of-type img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(35%) saturate(926%) hue-rotate(88deg) brightness(92%) contrast(93%) drop-shadow(0px 0px 5px #000000b0);
}

body > address a:hover img {
    filter: brightness(0) saturate(100%) invert(70%) sepia(29%) saturate(1081%) hue-rotate(153deg) brightness(102%) contrast(89%);
}

main {
    position: relative;
    background-image: linear-gradient(rgba(7, 93, 119, 0.4), rgb(4, 15, 20) 95%), url("../webp/foto/esterno.webp");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

main > * {
    position: relative;
    z-index: 1;
}

main > img {
    width: 30%;
    max-width: 250px;
    filter: drop-shadow(0px -50px 35px rgba(0, 30, 80, 0.1)) drop-shadow(0px 40px 50px rgba(0, 30, 80, 0.2));
}

main div {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2em;
}

main div a, section:last-of-type a{
    display: inline-flex;
    align-items: center;
    padding: 0.3em 0.75em 0.3em 0.75em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.6em;
    font-weight: 700;
    transition: 0.1s linear;
}

main h1, main h2, main h3, main p {
    text-shadow: 0px 0px 50px rgba(0, 10, 30, 0.8), 0px 0px 20px rgba(0, 20, 50, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8);
}


main h1 {
    font-size: 2.8em;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 1em;
    color: #23c1ff;
}

main h2 {
    font-weight: 500;
    font-size: 1.8em;
    color: #55c2ec;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

main h3 {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: normal;
    font-weight: 500;
    padding: 0.3em 3.5em;
    color: whitesmoke;
    background-image: linear-gradient( 90deg, transparent, #21aee6 35%, #21aee6 65%, transparent);
}

main h3 img {
    width: 1.6em;
    margin-right: 0.1em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
}

main h3 div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 0px;
    line-height: 1em;
    font-family: 'Sportscenter';
    font-size: 0.8em;
}

main h3 span {
    text-align: right;
    font-family: 'Futura';
    font-size: 0.7em;
}

main p {
    max-width: 40em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #cddadf;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 3em;
}

main div a:first-of-type, section:last-of-type a {
    background-color: #25ccf1;
}

section:last-of-type a {
    font-size: 1.2em;
}

main div a:nth-of-type(2) {
    border: #24c1e4 solid 3px;
    background-color: transparent;
    color: #24c1e4;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main div a:first-of-type img, section:last-of-type a img {
    width: 2em;
    height: 2em;
}

main div a:nth-of-type(2) img {
    width: 1.3em;
    height: 1.3em;
    margin-left: 0.5em;
    filter: brightness(0) saturate(90%) invert(70%) sepia(58%) saturate(1000%) hue-rotate(151deg) brightness(80%) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

main div a:hover, section:last-of-type a:hover {
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.7);
    transition: 0.1s linear;
}

main div a:first-of-type:hover, section:last-of-type a:hover {  
    background-color: #1d9acc;
    color: whitesmoke;
}

main div a:first-of-type:hover img, section:last-of-type a:hover img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(77%) saturate(1%) hue-rotate(47deg) brightness(110%) contrast(95%);
}

main div a:nth-of-type(2):hover {
    color: whitesmoke;
    border-color: whitesmoke;
}

main div a:nth-of-type(2):hover img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(77%) saturate(1%) hue-rotate(47deg) brightness(110%) contrast(95%);
}


.background_sections {
    background-image: linear-gradient(rgb(4, 15, 20), transparent 35%, rgba(24, 67, 88, 0.8)), radial-gradient(circle at left top, #56c9f7,#188ab8 10%, #0f62835b), url("../webp/foto/interno2.webp");
    background-size: cover, 100%;
    background-position: 25% 30%;
    padding-top: 5em;
}

section {
    padding: 4em;
    padding-left: 6em;
    padding-bottom: 0px;
}

section:nth-of-type(n+2) {
    padding-top: 0em;
}

section:last-of-type {
    padding-bottom: 5em;
}

section h2 {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6), 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
}

section h2, section p, section:first-of-type a {
    color: whitesmoke;
}

section:last-of-type a {
    text-shadow: none;
}

section p {
    font-size: 1.2em;
    max-width: 40em;
    text-align: justify;
    margin-bottom: 2em;
    line-height: 1.4em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 0.8);
}

section span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 50em;
}

section span img {
    width: 20%;
    height: 20%;
    max-width: 100px;
    max-height: 100px;
    filter: drop-shadow(0px 3px 3px #0000009c) drop-shadow(0px 5px 10px #00000036);
}

section span img:last-of-type {
    margin-bottom: 4em;
}

section a {
    font-weight: 500;
}

section:first-of-type a {
    text-decoration: underline;
}
section:last-of-type a {
    letter-spacing: 0.1em;
    background-color: #23c1ff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {

    body > address {
        right: 10px;
    }

    body > address a {
        width: 40px;
    }

    main {
        background-image: linear-gradient(rgba(13, 101, 128, 0.5), rgb(4, 15, 20) 95%), url("../webp/foto/esterno verticale.webp");
        justify-content: center;
    }

    main > img {
        margin-top: auto;
        padding-top: 40px;
    }

    main h1 {
        font-size: 1.8em;
        text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3), 0px 0px 30px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    main h2 {
        font-size: 1.4em;
        text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3), 0px 0px 30px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 1);
    }

    main h3 {
        font-size: 1.5em;
    }

    main h3 div {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: min-content;
    }

    main p {
        line-height: 1.3em;
        font-size: 1.1em;
        margin-bottom: 0;
        margin-top: 10%;
    }

    main div {
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
        row-gap: 1em;
        margin-top: auto;
        margin-bottom: 3em;
    }

    main div a {
        width: 100%;
        justify-content: center;
        font-size: 1.3em;
    }

    .background_sections {
        background-image: linear-gradient(rgb(4, 15, 20), transparent 35%, rgba(24, 67, 88, 0.8)), radial-gradient(circle at left top, #56c9f7,#1ca5db 10%, #0f62835b), url("../webp/foto/interno2 verticale.webp");
        background-size: cover, 100%;
        background-position: 35% 0%;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items:  center;
        padding: 4em 2em 0em 2em;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), 2px 0px 10px rgba(0, 0, 0, 0.8);
    }

    section h2 {
        width: 100%;
        text-align: left;
    }
    
    section p {
        font-size: 1.1em;
    }

    section span {
        justify-content: center;
    }

    section:last-of-type p {
        font-size: 1.2em;
    }

    section:last-of-type a {
        font-size: 1.3em;
        letter-spacing: normal;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}