main {
    display: flex;
    row-gap: 2em;
    padding-right: 15em;
    padding-left: 15em;
    background-image: linear-gradient(rgba(7, 93, 119, 0.4), rgb(4, 15, 20)), url("../webp/foto/interno3.webp");
    background-size: cover;
    align-content: center;
    text-align: center;
}

main h1, main p span {
    color: whitesmoke;
}

main h1 {
    font-size: 2em;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    line-height: 1em;
}

main p {
    font-size: 1.1em;
    max-width: 50em;
    text-shadow: 0px 0px 20px black;
    margin: 0px;
    color: rgb(235, 235, 235);
}

main p span {
    font-size: 1.1em;
    font-weight: 700;
}

main div img {
    width: 70px;
    margin: 5px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}

main a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    min-width: 300px;
    font: 700 22px'Poppins';
    background-color: #40d1f1;
    border: none;
    box-shadow: 0px 3px 5px #000000a0; 
    color: rgb(5, 5, 10);
    transition: 0.1s ease-in-out;
}

main a img {
    width: 1.8em;
}

main a:hover img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(77%) saturate(1%) hue-rotate(47deg) brightness(110%) contrast(95%);
}

main a:hover {
    background-color: #1d9acc;
    color: whitesmoke;
    transition: 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
    
    main {
        padding-right: 3em;
        padding-left: 3em;
        padding-bottom: 5em;
        background-image: linear-gradient(rgba(7, 93, 119, 0.4), rgb(4, 15, 20)), url("../webp/foto/interno3 verticale.webp");
    }
    
    main h1 {
        padding-top: 2em;
    }

    main p {
        text-align: justify;
    }

    main p span {
        display: block;
        text-align: center !important;
    }
}