main, main address {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}


main {
    height: auto;
    background-image: radial-gradient(circle at left top, #42c9ff, rgba(14, 68, 87, 0.7)), url("../svg/pittogramma.svg"), linear-gradient(black, black);
    background-size: cover, 400%;
    background-position: 30% 30%;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4), 2px 0px 70px rgba(0, 0, 0, 0.7);
    padding-left: 10%;
    padding-right: 10%;
    align-items: flex-start;
}

main address {
    font-style: normal;
}

main h2, main p, main a, main ul, main li {
    font-size: clamp(14px, 4vw, 20px);
    color: whitesmoke;
    display: inline-flex;
}

main p, main a, main ul {
    margin: 0px 0px 0px 0px;
    max-width: 35em;
    text-align: justify;
    text-align-last: left;
}


main ul {
    font-weight: 700;
    margin-bottom: 1em;
}

main li {
    display: block;
    font-weight: 400;
    margin-left: 2em;
}

main li a {
    font-size: inherit;
    font-weight: 500;
    text-decoration: underline;
}

main ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 0.5em;
}

main h1 {
    font-size: clamp(24px, 6vw, 32px);
    margin-bottom: 0.5em;
    margin-top: 2em;
    font-weight: 700;
    color: whitesmoke;
}

main img {
    width: 1.7em;
    filter: brightness(0) invert(0.95) drop-shadow(5px 0px 10px rgba(0, 0, 0, 0.3));
    margin-right: 1em;
}

@media screen and (max-width: 768px) { 

    main li {
        margin-left: 0;
    }    
}